# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtualenv
venv/
env/

# Environment variables
.env

# Media files
media/

# Static build files
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
