<h2>Your Inbox</h2>

<a href="{% url 'send_message' %}">Send New Message</a>
<hr>

{% for msg in conversations %}
    <div>
        <b>
            {% if msg.sender == request.user %}
                {{ msg.receiver.username }}
            {% else %}
                {{ msg.sender.username }}
            {% endif %}
        </b>

        <p>{{ msg.content }}</p>

        <a href="{% url 'chat' msg.sender.id %}">Open Chat</a>
    </div>
    <hr>
{% empty %}
    <p>No conversations yet.</p>
{% endfor %}

