<h2>Send Message</h2>

<form method="POST">
    {% csrf_token %}

    <label>Send To:</label>
    <select name="user_id" required>
        {% for user in users %}
            <option value="{{ user.id }}">
                {{ user.username }}
            </option>
        {% endfor %}
    </select>

    <br><br>

    <textarea name="content" placeholder="Type message..." required></textarea>

    <br><br>

    <button type="submit">Send</button>
</form>


<a href="{% url 'inbox' %}">Back to Inbox</a>
