{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Synapse{% endblock %}</title>

    <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.css" />

    <script>
        if (localStorage.getItem("theme") === "dark") {
            document.documentElement.classList.add("dark-mode");
        }
    </script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://unpkg.com/lucide@latest"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>


<!-- ================= NAVBAR ================= -->



<!-- ================= CONTENT ================= -->

{% block content %}
{% endblock %}

<!-- ================= SCRIPTS ================= -->

<script>
document.addEventListener("DOMContentLoaded", function () {

    lucide.createIcons();

    const themeToggle = document.getElementById("themeToggle");

    function applyTheme(theme) {
        if (theme === "dark") {
            document.body.classList.add("dark-mode");
            themeToggle.innerHTML = '<i data-lucide="moon"></i>';
        } else {
            document.body.classList.remove("dark-mode");
            themeToggle.innerHTML = '<i data-lucide="sun"></i>';
        }

        localStorage.setItem("theme", theme);
        lucide.createIcons();
    }

    applyTheme(localStorage.getItem("theme") || "light");

    themeToggle?.addEventListener("click", () => {
        const isDark = document.body.classList.contains("dark-mode");
        applyTheme(isDark ? "light" : "dark");
    });
});
</script>

<script src="https://unpkg.com/cropperjs/dist/cropper.js"></script>


</body>
</html>
