{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<header class="navbar">

    <a href="/" class="brand">
        <div class="brand-icon">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
                <path d="M16 3c-3 0-5 2-5 4s2 4 5 4 5 2 5 4-2 4-5 4" />
                <circle cx="8" cy="7" r="1.5" fill="currentColor" />
                <circle cx="16" cy="17" r="1.5" fill="currentColor" />
            </svg>
        </div>
        <span class="brand-name">Synapse</span>
    </a>


    <button class="theme-toggle" id="themeToggle" aria-label="Toggle Theme">
        <i data-lucide="sun"></i>
    </button>

</header>

{% if show_logout_popup %}
<div class="logout-modal" id="logoutModal">
    <div class="logout-box">
        <div class="logout-icon">✓</div>
        <h3>Logged out successfully</h3>
        <p>You have been securely logged out.</p>
        <button onclick="closeLogoutModal()">Log In Again</button>
    </div>
</div>
{% endif %}

<div class="auth-wrapper">
    <div class="auth-card">

        <div class="auth-logo">Synapse</div>

        {% if messages %}
            {% for message in messages %}
                <div class="message-error">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST" autocomplete="off">
            {% csrf_token %}

            {{ form.username }}
            {{ form.password }}

            <button type="submit">Log In</button>
        </form>

        <div class="auth-footer">
            <p>
                Don’t have an account?
                <a href="{% url 'signup' %}">Sign Up</a>
            </p>

            <p style="margin-top:8px;">
                <a href="{% url 'password-reset' %}">
                    Forgot password?
                </a>
            </p>

            <p style="margin-top: 8px;">
                Didn’t receive activation email?
                <a href="{% url 'resend-activation' %}">Resend</a>
            </p>
        </div>

    </div>
</div>

{% if show_logout_popup %}
<script>
const modal = document.getElementById("logoutModal");

function closeLogoutModal() {
    modal.style.opacity = "0";
    setTimeout(() => {
        modal.style.display = "none";
    }, 200);
}

// Close when clicking outside the box
modal.addEventListener("click", function(e) {
    if (e.target === modal) {
        closeLogoutModal();
    }
});

// Close on ESC key
document.addEventListener("keydown", function(e) {
    if (e.key === "Escape") {
        closeLogoutModal();
    }
});
</script>
{% endif %}

{% endblock %}
