{% extends "base.html" %}
{% block content %}

<header class="navbar">

    <a href="/" class="brand">
        <div class="brand-icon">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
                <path d="M16 3c-3 0-5 2-5 4s2 4 5 4 5 2 5 4-2 4-5 4" />
                <circle cx="8" cy="7" r="1.5" fill="currentColor" />
                <circle cx="16" cy="17" r="1.5" fill="currentColor" />
            </svg>
        </div>
        <span class="brand-name">Synapse</span>
    </a>


    <button class="theme-toggle" id="themeToggle" aria-label="Toggle Theme">
        <i data-lucide="sun"></i>
    </button>

</header>

<div class="auth-wrapper">
    <div class="auth-card">

        <div class="auth-logo">Synapse</div>

        <form method="POST" novalidate>
            {% csrf_token %}

            {{ form.username }}
            {% for error in form.username.errors %}
                <div class="message-error">{{ error }}</div>
            {% endfor %}

            {{ form.email }}
            {% for error in form.email.errors %}
                <div class="message-error">{{ error }}</div>
            {% endfor %}

            {{ form.password1 }}
            {% for error in form.password1.errors %}
                <div class="message-error">{{ error }}</div>
            {% endfor %}

            {{ form.password2 }}
            {% for error in form.password2.errors %}
                <div class="message-error">{{ error }}</div>
            {% endfor %}

            {% for error in form.non_field_errors %}
                <div class="message-error">{{ error }}</div>
            {% endfor %}

            <button type="submit">Create Account</button>
        </form>

        <div class="auth-footer">
            Already have an account?
            <a href="{% url 'login' %}">Log In</a>
        </div>

    </div>
</div>

{% endblock %}
