{% extends "base.html" %}

{% block content %}

<div class="auth-wrapper">
    <div class="auth-card">

        <div class="auth-logo">Enable 2FA</div>

        <h3 style="margin-bottom:20px; text-align:center;">
            Scan QR & Verify
        </h3>

        {% if messages %}
            {% for message in messages %}
                <div class="message-error">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <input 
                type="text" 
                name="otp" 
                placeholder="Enter 6-digit code"
                maxlength="6"
                required
            >

            <button type="submit">
                Confirm
            </button>
        </form>

    </div>
</div>

{% endblock %}
